<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <!--support JSR-250-->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <util:map id="appProperies" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="jndi.dataSource.name" value="${jndi.dsname}" />
        <entry key="i18n.localeParam" value="locale" />
    </util:map>
    <!--DataSource setting -->
    <!--jndi config-->
    <jee:jndi-lookup id="dataSource" jndi-name="#{appProperies['jndi.dataSource.name']}" 
                     resource-ref="true" cache="false" lookup-on-startup="false" expected-type="javax.sql.DataSource"/>
    
    <bean id="jdbi" class="org.jdbi.v3.spring5.JdbiFactoryBean" c:dataSource-ref="dataSource">
        <property name="plugins">
            <util:list value-type="org.jdbi.v3.core.spi.JdbiPlugin">
                <bean class="org.jdbi.v3.sqlobject.SqlObjectPlugin"/>
                <bean class="org.jdbi.v3.jpa.JpaPlugin"/>
            </util:list>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="targetObject" ref="jdbi"/>
        <property name="targetMethod" value="setSqlLogger"/>
        <property name="arguments">
            <bean class="Uber.context.JdbiLog"/>
        </property>
    </bean>
    
    <!--Import relative configuration-->
    <import resource="applicationContext-mvc.xml"/>
    <import resource="applicationContext-security.xml"/>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="dataSource"/>
    
    <!--Enabled @Transactional-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    
    <!--Spring Cache start,comment it if you don't need 若是不需用要Spring Cache功能，把下面這部分移除-->
    <bean id="springCacheManager" class="com.hazelcast.spring.cache.HazelcastCacheManager">
        <constructor-arg ref="hazelcastInstance"/>
        <property name="cacheOptions" value="defaultReadTimeout=86400"/>
    </bean>
    <cache:annotation-driven cache-manager="springCacheManager"/>
    <!--Spring Cache end-->
</beans>